<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdu.hdufpga.mapper.ChapterMapper">

    <insert id="recordFinish">
        insert into foreign_user_chapter (user_id, chapter_id, finish_time)
        values (#{user_id}, #{chapter_id}, #{finish_time})
    </insert>
</mapper>